<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rt.engine.mapper.ApaasServiceMapper">
    <!-- 同步apaas服务信息 -->
    <select id="queryApaasServiceList" resultType="com.rt.engine.bean.entity.ServiceInfo">
        select t2.id                     as serviceId,
               t1.name                   as serviceName,
               t1.descript               as serviceDesc,
               case t1.req_type
                   when 1 then 'GET'
                   when 2 then 'POST'
                   when 3 then 'PUT'
                   when 4
                       then 'DELETE' end as httpMethod,
               t1.req_auth_mthod         as authType,
               t1.req_auth_token         as authValue,
               t1.req_query              as requestParam,
               t1.req_fields             as requestBody,
               t1.res_fields             as response,
               t2.uuid                   as apaasApplyId,
               t2.second_level_time      as createdTime,
               t2.user_id                as createdBy
        from service t1
                 inner join service_apply t2 on t1.id = t2.service_id and t1.is_deleted = t2.is_deleted
        where t1.is_deleted = 0
          and t2.first_level = 1
          and t2.second_level = 1
    </select>
</mapper>